<h1>Pages#batman</h1>
<p>Find me in app/views/pages/batman.html.erb</p>
<div class="jumbotron text-center">
  <h1>Leovi Oscar Martinez Dominguez</h1>
</div>
<script type="text/javascript">
	$.backstretch("http://dl.dropbox.com/u/515046/www/garfield-interior.jpg");
</script>